include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2.db-h2 Кнопки

				.container-dashboard__content
					button.btn-primary(type="button") Текст на кнопке
					pre.
						button.btn-primary(type="button") Текст на кнопке
					p.dashed
					button.btn-primary(type="button")
						span Текст на кнопке
						svg.svg-right
							use(href='../img/sprite.svg#svg-right')
					pre.
						button.btn-primary(type="button")
							span Текст на кнопке
							svg.svg-right
								use(href='./img/sprite.svg#svg-right')
					p.dashed
					button.btn-dark(type="button")
						span Текст на кнопке
						svg.svg-email
							use(href='../img/sprite.svg#svg-email')
					pre.
						button.btn-primary(type="button")
							span Текст на кнопке
							svg.svg-email
								use(href='../img/sprite.svg#svg-email')
					
					
					p.dashed
					button.btn-dark(type="button" disabled)
						span Текст на кнопке
						svg.svg-email
							use(href='../img/sprite.svg#svg-email')
					pre.
						button.btn-primary(type="button"  disabled)
							span Текст на кнопке
							svg.svg-email
								use(href='../img/sprite.svg#svg-email')
					
					p.dashed
					button.btn-primary(type="button")
						span Текст на кнопке
						svg.svg-round-check
							use(href='../img/sprite.svg#svg-round-check')
					pre.
					button.btn-primary(type="button")
						span Текст на кнопке
						svg.svg-round-check
							use(href='./img/sprite.svg#svg-round-check')
					
					p.dashed
					button.btn-outline(type="button") Текст на кнопке
					pre.
						button.btn-outline(type="button") Текст на кнопке