@use '../base/_var' as *;
/*===== CONSULTATION FORM =====*/
.consultation-content{
	justify-content: space-between;
	align-items: center;
	.consultation-text{max-width: remy(606);}
	.form-wrapper{
		width: remy(479);
		
		form{
			display: flex;
			flex-direction: column;
			gap: remy(10);
		}
		@media (max-width: 1199px) {
		  width: remy(350);
		}
		@media (max-width: 767px) {
		  width: 100%;
		}
	}

	
}
.consultation.primary-section{
	.form-wrapper{
		padding-block: remy(26);
		width: remy(479);
	}
}
.consultation-content.accent-section{
	@media (max-width: 1364px) {
	 .consultation-text{
		max-width: remy(500);
	 }
	}
	@media (max-width: 1199px) {
		.form-wrapper {
			width: remy(479);
		}
	}
	@media (max-width: 1023px) {
	.form-wrapper {
			width: remy(350);
		}
	}
	@media (max-width: 767px) {
	.h2{font-size: remy(24);}
	}
}

