@use '../base/_var' as *;
/*===== CONTACTS =====*/
.our-contacts-content{
	display: grid;
	grid-template-columns: remy(400) 1fr;
	column-gap: remy(30);
	@media (max-width: 767px) {
	  grid-template-columns: 1fr;
	  row-gap: remy(20);
	  .our-contacts-map{height: remy(220);}
	}
}
.contacts-list-item{
	display: flex;
	flex-direction: column;
	gap: remy(10);
}
.contacts-list-item .icon-text svg{
	color: var(--primary);
}
.our-contacts-map{display: flex;}
.map{
	width: 100%;
	border-radius: remy(12);
	overflow: hidden;
}