@use '../base/_var' as *;
//FOOTER
footer.footer{
	
	color: var(--white);
	.footer-form{
		position: relative;
		.container{
			position: relative;
	       z-index: 2;
		}
	}
	.footer-form:before{
		content:'' ;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: remy(140);
		background-color: var(--body-bg);
	}
	.social-block{column-gap:remy(20);}
}
.footer .logo{
	img{
		width: remy(277);
		height: auto;
		max-height: remy(67);
	}
	@media (max-width: 767px) {
	img{
		width: remy(220);
		max-height: remy(54);
	}
	}
}
.footer-content > *+*>.container{
border-top: 1px solid var(--secondary1);
}
.footer-top, 
.footer-center,
.footer-bottom{
	.container{
		padding-block: remy(40); 
		display: flex; align-items: 
		center;gap: remy(40);
		@media (max-width: 1023px) {
		padding-block: remy(20); 
		}
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: flex-start;
			row-gap:remy(20);
		}
	}
}
.footer-center{
	.container{
		align-items: flex-start;
		@media (max-width: 1023px) {
		 flex-direction: column;
	 	 align-items: flex-start;
	 	 row-gap:remy(20);
		}
	}
}
.footer-bottom {
	.container{
		padding-top: 20px;
		justify-content: space-between;
	}
	@media (max-width: 1439px) {
		.medi-16{font-size: remy(14);}
	}
	@media (max-width: 1279px) {
	  .medi-16.txt-second {font-size: remy(12);}
	}
	@media (max-width: 1199px) {
	 .container{
		flex-wrap: wrap;
		.medi-16.txt-second{
			width: 100%;
			text-align: center;
		}
	 }
	}
	@media (max-width: 767px) {
	  .container{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
		row-gap:remy(20);
		.medi-16.txt-second{text-align: left; font-size: remy(16);}
	  }
	}
}

.footer .logo-block{
	align-items: center;
	gap: remy(10);
}
.footer .phone-block{
	margin-left: auto;
	text-align: right;
	.phone-link:hover{
		color: var(--secondary1);
	}
	@media (max-width: 767px) {
	  text-align: left;
	  margin-left: 0;
	}
}
.footer-contacts >*+*{margin-top: remy(20);}
.contacts-list{
	display: flex;
	flex-direction: column;
	row-gap: remy(20);
}
.contacts-item{
	display: flex;
	align-items: center;
	column-gap: remy(10);
	img, svg{
		flex-shrink: 0;
		width: remy(20);
	}
}
a.contacts-item{
	white-space: nowrap;
	transition: .3s;
}
.footer .contacts-item{
	color: white;
	&:hover{color: var(--secondary1);}
	&:hover svg{color: var(--secondary1);}
}
.footer-nav{
	display: flex;
	align-items: center;
	column-gap: remy(40);
	margin-left: auto;
	@media (max-width: 1023px) {
	    margin-left: 0;
		column-gap: remy(30);
	}
	@media (max-width: 767px) {
	  padding-block: remy(20);
	  flex-wrap: wrap;
	  row-gap: remy(10);
	}
	.primary-link{
		color: var(--white);
	}
}