@use '../base/_var' as *;
/*===== OUR TEAM =====*/
.our-team-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: remy(70);
	@media (max-width: 1023px) {
	 flex-direction: column-reverse;
	 gap:remy(20);
	}
}
.our-team-media{
	width: remy(733);
	height: remy(520);
	flex-shrink: 0;
	position: relative;
	display: flex;
	justify-content: flex-end;
	max-height: remy(520);
	aspect-ratio:73/52;
	overflow: hidden;
	
	.image-front{
		position: absolute;
		bottom:0;
		left: 0;
		z-index: 2;
		width: 49%;
		display: block;
		img{
			aspect-ratio:352/239;
			width:remy(352);
			object-fit: cover;
		}
		
		@media (max-width: 1023px) {
		  position: relative;
		  width:100%;
		  inset: 0;
		  img{width: 100%;}
		
		}
	}
	.image-back{
		width: 82.7%;
		height: auto;
		img{
			width: 100%;
		   aspect-ratio: 606/398;
		   object-fit: cover;
		}
	}

	.h2.visible-mobile{display: none;}
	@media (max-width: 1439px) {
	  width: 48.6%;
	  height: auto;
	}
	@media (max-width:1023px) {
		width: 100%;
		max-height: unset;
		aspect-ratio: unset;
		display: flex;
		flex-direction: column;
		gap:remy(20);
	   .h2.visible-mobile{display: block;}
	   .image-back, .image-front{
		 width: 100%;
		 img{aspect-ratio: 388/242;}
	   }
	}
}
.our-team-info{
	flex-grow:1;
	max-width: remy(606);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:remy(40);
	
	@media (max-width: 1439px) { gap:remy(20);}
	
	@media (max-width: 1023px) {
		max-width: 100%;
	  .h2{display: none;}
	}
	@media (max-width: 767px) {
	.btn-primary{width: 100%;}
	}
}
.marker-strip-list{
	display: flex;
	flex-direction: column;
	row-gap: remy(10);
}
.marker-strip-item{
	width: 100%;
	border-radius: remy(10);
	padding: remy(30);
	background-color: var(--white-bg);
	display: flex;
	align-items:center;
	column-gap: remy(20);
	.marker-strip-icon{
		width: remy(32);
		height: remy(32);
		border-radius: remy(30);
		background-color: var(--accent1);
		padding: remy(6);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@media (max-width: 767px) {
	 padding: remy(20);
	 .bold-20{font-size: remy(16);}
	}

}