@use '../base/_var' as *;
/*===== OUR PORTFOLIO =====*/
.portfolio-cards.three-columns{
	gap: remy(30);
	@media (max-width: 767px) {grid-template-columns: 1fr 1fr; column-gap: remy(20)}
	@media (max-width: 574px) {grid-template-columns: 1fr;}
	

	
}
.portfolio-card{
	overflow: hidden;
	&>*+*{margin-top: remy(20);}
	.bold-18{
		color: var(--primary);
		@media (max-width: 767px) {
		font-size: remy(18);
		}
	}
	&__img{
		display: flex;
		overflow: hidden;
		width: 100%;
		aspect-ratio: 48/36;
		border-radius: remy(12);
		
		position: relative;
		
		
		&:after{
			content: '';
			position: absolute;
			inset: 0;
			z-index: 2;
			background-color: rgba(0,0,0, .3);
			transition: .5s; 
			transform: translateY(100%);
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.9 5.2499C24.9 4.50432 25.5044 3.8999 26.25 3.8999H36.75C37.4956 3.8999 38.1 4.50432 38.1 5.2499V15.7499C38.1 16.4955 37.4956 17.0999 36.75 17.0999C36.0044 17.0999 35.4 16.4955 35.4 15.7499V8.50909L18.4546 25.4545C17.9274 25.9817 17.0726 25.9817 16.5454 25.4545C16.0182 24.9273 16.0182 24.0725 16.5454 23.5453L33.4908 6.5999H26.25C25.5044 6.5999 24.9 5.99549 24.9 5.2499ZM8.74999 11.8499C8.17978 11.8499 7.63292 12.0764 7.22971 12.4796C6.82651 12.8828 6.59999 13.4297 6.59999 13.9999V33.2499C6.59999 33.8201 6.82651 34.367 7.22971 34.7702C7.63292 35.1734 8.17978 35.3999 8.74999 35.3999H28C28.5702 35.3999 29.1171 35.1734 29.5203 34.7702C29.9235 34.367 30.15 33.8201 30.15 33.2499V22.7499C30.15 22.0043 30.7544 21.3999 31.5 21.3999C32.2456 21.3999 32.85 22.0043 32.85 22.7499V33.2499C32.85 34.5362 32.339 35.7698 31.4295 36.6794C30.5199 37.5889 29.2863 38.0999 28 38.0999H8.74999C7.46369 38.0999 6.23008 37.5889 5.32053 36.6794C4.41097 35.7698 3.89999 34.5362 3.89999 33.2499V13.9999C3.89999 12.7136 4.41097 11.48 5.32053 10.5704C6.23008 9.66088 7.46369 9.1499 8.74999 9.1499H19.25C19.9956 9.1499 20.6 9.75432 20.6 10.4999C20.6 11.2455 19.9956 11.8499 19.25 11.8499H8.74999Z' fill='white' /%3e%3c/svg%3e");
			background-size: remy(42);
			background-position: center;
			background-repeat: no-repeat;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: .3s; 
		}
	}
	&:hover .portfolio-card__img:after{transform: translateY(0);}
	@media (max-width: 767px) {
	&>*+*{margin-top: remy(10);}
	}
}
.portfolio-card[data-fancybox="gallery"] .portfolio-card__img:after{display: none;}
.my-fancybox-counter {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  color: #fff;
  font-size: 14px;
  z-index: 30;
  pointer-events: none;
}
.fancybox__backdrop{
	background: var(--secondary3);
}