@use '../base/_var' as *;
/*===== SINGLE SERVICE PAGE =====*/
.sidebar-grid{
	display: grid;
	grid-template-columns: remy(353) 1fr;
}
.sidebar-menu.menu-submenu {
	.menu-submenu {
		padding-block: 0;
	}
	.submenu-link{
		padding-block: remy(20);
	}
}
.sidebar-column{
	display: flex;
	flex-direction: column;
	row-gap: remy(40);
	&>*{width: 100%;}
}
