//ACHIEVMENTS
section.achievements
	.container.gap-40
		.header-block
			h2.h2 Показатели компании Строительное управление&#8209;7
		.achievements-cards.three-columns
			.achiev-card.white-card
				p.h2.txt-accent 15 лет
				p.medi-18 Опыт в сфере благоустройства
			
			.achiev-card.white-card.achiev-card--ya
				.brand-logo
					img(src='./img/ya-brand.webp', srcset='./img/ya-brand@2x.webp 2x' width='157' height='45' loading='lazy' alt='img')
				.icon-text
					svg.svg-star
						use(href='./img/sprite.svg#svg-star')
					p.bold-28 4.8#[span.font-24 /5]
			
			.achiev-card.white-card.achiev-card--reviews
				.achiev-card__col.flex-col
					p.bold-16.txt-accent Дмитрий
					.achiev-card__group
						span.bold-16 5,0
						span.rating-stars
						span.bold-16.txt-accent 10 отзывов
					
					p.bold-16.icon-text
						svg.svg-round-check
							use(href='./img/sprite.svg#svg-round-check')
						span Компания
					p.bold-16 На Авито в мая 2016
				.achiev-card__logo
					img(src='./img/logo-short.webp', srcset='./img/logo-short@2x.webp 2x' width='100' height='97' loading='lazy' alt='img')