//ALL OBJECTS
section.all-objects
	.container
		ul.breadcrumbs
			li.breadcrumb-item
				a(href="index.html") Главная
			li.breadcrumb-item
				span  Наши объекты
		.portfolio.gap-40
			.header-block
				h2.h2 Сданные объекты	
			.portfolio-cards.three-columns
				a(href="single-portfolio.html").portfolio-card
					.portfolio-card__img
						picture
							img(src='./img/pr1.webp', srcset='./img/pr1@2x.webp 2x' width='479' height='360' loading='lazy' alt='img')
					.bold-18 Асфальтирование малых объемов
				a(href="single-portfolio.html").portfolio-card
					.portfolio-card__img
						picture
							img(src='./img/pr2.webp', srcset='./img/pr2@2x.webp 2x' width='479' height='360' loading='lazy' alt='img')
					.bold-18 Въезд на территорию предприятия
				a(href="single-portfolio.html").portfolio-card
					.portfolio-card__img
						picture
							img(src='./img/pr9.webp', srcset='./img/pr9@2x.webp 2x' width='479' height='360' loading='lazy' alt='img')
					.bold-18 Парковки и стоянки
				
				a(href="single-portfolio.html").portfolio-card
					.portfolio-card__img
						picture
							img(src='./img/pr3.webp', srcset='./img/pr3@2x.webp 2x' width='479' height='360' loading='lazy' alt='img')
					.bold-18 Тротуары
				a(href="single-portfolio.html").portfolio-card
					.portfolio-card__img
						picture
							img(src='./img/pr4.webp', srcset='./img/pr4@2x.webp 2x' width='479' height='360' loading='lazy' alt='img')
					.bold-18 Асфальтирование территории
				a(href="single-portfolio.html").portfolio-card
					.portfolio-card__img
						picture
							img(src='./img/pr5.webp', srcset='./img/pr5@2x.webp 2x' width='479' height='360' loading='lazy' alt='img')
					.bold-18 Асфальтирование малых объемов
				a(href="single-portfolio.html").portfolio-card
					.portfolio-card__img
						picture
							img(src='./img/pr6.webp', srcset='./img/pr6@2x.webp 2x' width='479' height='360' loading='lazy' alt='img')
					.bold-18 Скверы, парки,  благоустройство территории
				a(href="single-portfolio.html").portfolio-card
					.portfolio-card__img
						picture
							img(src='./img/pr7.webp', srcset='./img/pr7@2x.webp 2x' width='479' height='360' loading='lazy' alt='img')
					.bold-18 Дороги и проезды
				a(href="single-portfolio.html").portfolio-card
					.portfolio-card__img
						picture
							img(src='./img/pr8.webp', srcset='./img/pr8@2x.webp 2x' width='479' height='360' loading='lazy' alt='img')
					.bold-18 Бетонные работы