//FAQ
section.faq
	.container.container-narrow.gap-40
		.header-block.txt-center
			h2.h2 Часто задаваемые вопросы
		.faq-acordion.acordion-wrapper(data-mode='single')
			//  single item 
			.acordion-item.acordion-item--active
				.acordion-button
					.acordion-item__title.bold-18 Как можно повысить качество асфальта и продлить срок его службы?
					.acordion-item__icon
						svg.svg-carret-down
							use(href='./img/sprite.svg#svg-carret-down')
				.acordion-body
					.acordion-body__content.custom-text
						p Все технические нюансы учитываются нами во время работы: подбор качественного материала, технология укладки, особенности местности и уровень нагрузки.
						h3 Факторы
						ul
							li солнечное излучение,
							li осадки,
							li перепады температур,
							li воздействие химикатов,
							li старение битума.
						
			
						h2 Продлить срок службы асфальтового покрытия помогут:
						ol
							li 
								h3 Оперативная заливка трещин
								p Своевременное закрытие повреждений предотвратит затекание воды в покрытие, попадания грязи и агрессивных химикатов. Для этого используется битум, битумные эмульсии, асфальтовые мастики и герметики.
							li
								h3 Оперативная заливка трещин
								p Своевременное закрытие повреждений предотвратит затекание воды в покрытие, попадания грязи и агрессивных химикатов. Для этого используется битум, битумные эмульсии, асфальтовые мастики и герметики.
							li
								h3 Оперативная заливка трещин
								p  Своевременное закрытие повреждений предотвратит затекание воды в покрытие, попадания грязи и агрессивных химикатов. Для этого используется битум, битумные эмульсии, асфальтовые мастики и герметики.

			//  single item 
			.acordion-item
				.acordion-button
					.acordion-item__title.bold-18 Как можно повысить качество асфальта и продлить срок его службы?
					.acordion-item__icon
						svg.svg-carret-down
							use(href='./img/sprite.svg#svg-carret-down')
				.acordion-body
					.acordion-body__content.custom-text
						p Все технические нюансы учитываются нами во время работы: подбор качественного материала, технология укладки, особенности местности и уровень нагрузки.
						h3 Факторы
						ul
							li солнечное излучение,
							li осадки,
							li перепады температур,
							li воздействие химикатов,
							li старение битума.
			//  single item 
			.acordion-item
				.acordion-button
					.acordion-item__title.bold-18 Как можно повысить качество асфальта и продлить срок его службы?
					.acordion-item__icon
						svg.svg-carret-down
							use(href='./img/sprite.svg#svg-carret-down')
				.acordion-body
					.acordion-body__content.custom-text
						p Все технические нюансы учитываются нами во время работы: подбор качественного материала, технология укладки, особенности местности и уровень нагрузки.
						h3 Факторы
						ul
							li солнечное излучение,
							li осадки,
							li перепады температур,
							li воздействие химикатов,
							li старение битума.
			//  single item 
			.acordion-item
				.acordion-button
					.acordion-item__title.bold-18 Как можно повысить качество асфальта и продлить срок его службы?
					.acordion-item__icon
						svg.svg-carret-down
							use(href='./img/sprite.svg#svg-carret-down')
				.acordion-body
					.acordion-body__content.custom-text
						p Все технические нюансы учитываются нами во время работы: подбор качественного материала, технология укладки, особенности местности и уровень нагрузки.
						h3 Факторы
						ul
							li солнечное излучение,
							li осадки,
							li перепады температур,
							li воздействие химикатов,
							li старение битума.

