header.header.header-mobile
	.container
		.header-mobile-row
			.logo-box
				a(href="#!").logo
					img(src='./img/logo.webp', srcset='./img/logo@2x.webp 2x' width='214' height='52' loading='lazy' alt='img')
			
			.header-bottom-right
				button.open-search.btn-square(data-fancybox="search"  data-src="#search-block")
					svg.svg-search
						use(href='./img/sprite.svg#svg-search')
			//menu-toggle
			button.menu-toggle#menu-toggle
				span
	#header-menu-mobile.header-mobile-menu
		.mobile-menu-content
			.mobile-menu-top
				p.medi-12 Cтроительство объектов, производство и благоустройство на всей территории Саратова и области
			.mobile-menu-nav
				ul.menu-submenu.js-drop(data-mode='single')
					li.submenu-item.js-drop-item
						span.submenu-link.js-drop-button Услуги по благоустройству
							svg.svg-carret-down
								use(href='./img/sprite.svg#svg-carret-down')
						.js-drop-body
							ul.menu-sub-submenu.js-drop-content
								li.sub-submenu-item
									a(href='#!') Асвальтирование
								li.sub-submenu-item
									a(href='#!') Укладка тротуарной плитки
								li.sub-submenu-item
									a(href='#!') Озеленение
					
					li.submenu-item.js-drop-item
						span.submenu-link.js-drop-button Аренда спецтехники
							svg.svg-carret-down
								use(href='./img/sprite.svg#svg-carret-down')
						.js-drop-body
							ul.menu-sub-submenu.js-drop-content
								li.sub-submenu-item
									a(href='#!') Аренда бульдозера
								li.sub-submenu-item
									a(href='#!') Аренда мини-погрузчика
								li.sub-submenu-item
									a(href='#!') Аренда эвакуатора
					
					li.submenu-item.js-drop-item
						span.submenu-link.js-drop-button Бетонные полы
							svg.svg-carret-down
								use(href='./img/sprite.svg#svg-carret-down')
						.js-drop-body
							ul.menu-sub-submenu.js-drop-content
								li.sub-submenu-item
									a(href='#!') Аренда бульдозера
								li.sub-submenu-item
									a(href='#!') Аренда мини-погрузчика
								li.sub-submenu-item
									a(href='#!') Аренда эвакуатора
					
					li.submenu-item.js-drop-item
						span.submenu-link.js-drop-button Объекты
							svg.svg-carret-down
								use(href='./img/sprite.svg#svg-carret-down')
						.js-drop-body
							ul.menu-sub-submenu.js-drop-content
								li.sub-submenu-item
									a(href='#!') Аренда бульдозера
								li.sub-submenu-item
									a(href='#!') Аренда мини-погрузчика
								li.sub-submenu-item
									a(href='#!') Аренда эвакуатора

					li.submenu-item
						a(href="#!").submenu-link Объекты

			.mobile-menu-bottom
				//address
				.company-address.medi-12
					address.address-text
						svg.svg-pin
							use(href='./img/sprite.svg#svg-pin')
						span Саратовская область, г. Энгельс ул. Полиграфическая, 79
				//social
				.social-block
					a(href="#!").social-item
						svg.svg-whatsapp
							use(href='./img/social-icons.svg#svg-whatsapp')
					
					a(href="#!").social-item
						svg.svg-max
							use(href='./img/social-icons.svg#svg-max')
					
					a(href="#!").social-item
						svg.svg-telegram
							use(href='./img/social-icons.svg#svg-telegram')
				//phone group
				.phone-group
					p.medi-12.work-mode
						svg.svg-clock
							use(href='./img/sprite.svg#svg-clock')
						span Работаем: Пн - Пт с 9 до 18
					a(href="tel:+79271334344").phone-link.bold-18
						svg.svg-phone
							use(href='./img/sprite.svg#svg-phone')
						span +7 (927) 133-43-44
				//btn
				button(type="button" data-fancybox="form-popup" data-src="#form-popup").btn-outline
					span Получить прайс
					svg.svg-book
						use(href='./img/sprite.svg#svg-book')