header.header.header-mobile
	.container
		.header-mobile-row
			.logo-box
				a(href="#!").logo
					img(src='./img/logo.webp', srcset='./img/logo@2x.webp 2x' width='214' height='52' loading='lazy' alt='img')
			
			.header-bottom-right
				button.open-search.btn-square(data-fancybox="search"  data-src="#search-block")
					svg.svg-search
						use(href='./img/sprite.svg#svg-search')
			//menu-toggle
			button.menu-toggle#menu-toggle
				span
	#header-menu-mobile.header-mobile-menu
		.mobile-menu-content
			.mobile-menu-top
				p.medi-12 Cтроительство объектов, производство и благоустройство на всей территории Саратова и области
			.mobile-menu-nav
				ul.menu-submenu.js-drop(data-mode='single')
					li.submenu-item.js-drop-item
						span.submenu-link.js-drop-button Услуги по благоустройству
							svg.svg-carret-down
								use(href='./img/sprite.svg#svg-carret-down')
						.js-drop-body
							ul.menu-sub-submenu.js-drop-content
								li.sub-submenu-item
									a(href='#!') Асвальтирование
								li.sub-submenu-item
									a(href='#!') Укладка тротуарной плитки
								li.sub-submenu-item
									a(href='#!') Озеленение
					
					li.submenu-item.js-drop-item
						span.submenu-link.js-drop-button Аренда спецтехники
							svg.svg-carret-down
								use(href='./img/sprite.svg#svg-carret-down')
						.js-drop-body
							ul.menu-sub-submenu.js-drop-content
								li.sub-submenu-item
									a(href='#!') Аренда бульдозера
								li.sub-submenu-item
									a(href='#!') Аренда мини-погрузчика
								li.sub-submenu-item
									a(href='#!') Аренда эвакуатора
					
					li.submenu-item.js-drop-item
						span.submenu-link.js-drop-button Бетонные полы
							svg.svg-carret-down
								use(href='./img/sprite.svg#svg-carret-down')
						.js-drop-body
							ul.menu-sub-submenu.js-drop-content
								li.sub-submenu-item
									a(href='#!') Аренда бульдозера
								li.sub-submenu-item
									a(href='#!') Аренда мини-погрузчика
								li.sub-submenu-item
									a(href='#!') Аренда эвакуатора
					
					li.submenu-item.js-drop-item
						span.submenu-link.js-drop-button Объекты
							svg.svg-carret-down
								use(href='./img/sprite.svg#svg-carret-down')
						.js-drop-body
							ul.menu-sub-submenu.js-drop-content
								li.sub-submenu-item
									a(href='#!') Аренда бульдозера
								li.sub-submenu-item
									a(href='#!') Аренда мини-погрузчика
								li.sub-submenu-item
									a(href='#!') Аренда эвакуатора

					li.submenu-item
						a(href="#!").submenu-link Объекты

			.mobile-menu-bottom
				