//OUR TEAM
section.our-team
	.container.gap-40
		.our-team-content
			.our-team-info
				h2.h2 Наша команда
				.our-team-text.medi-16
					p Наша компания существует с 2015 года, занимается строительством, асфальтированием и благоустройством. За эти годы хорошо себя зарекомендовала, построив множество городских и промышленных объектов.
				
				ul.marker-strip-list
					li.marker-strip-item
						i.marker-strip-icon
							svg.svg-check
								use(href='./img/sprite.svg#svg-check')
						.bold-20 Более 15 лет опыта
					li.marker-strip-item
						i.marker-strip-icon
							svg.svg-check
								use(href='./img/sprite.svg#svg-check')
						.bold-20 Постоянные бригады и сотрудники
					li.marker-strip-item
						i.marker-strip-icon
							svg.svg-check
								use(href='./img/sprite.svg#svg-check')
						.bold-20 Своя техника
				
				a(href="#!").btn-primary
					span Подробнее
					svg.svg-right
						use(href='./img/sprite.svg#svg-right')
			.our-team-media
				h2.h2.visible-mobile Наша команда
				.image-back
					img.bor-radius(src='./img/about.webp', srcset='./img/about@2x.webp 2x' width='606' height='398' loading='lazy' alt='img')
				
				a( href="https://www.youtube.com/watch?v=PUdyuKaGQd4"   data-fancybox="team-video"  data-width="100%"   data-height="100%").image-front.has-video
					img.bor-radius(src='./img/about2.webp', srcset='./img/about2@2x.webp 2x' width='352' height='239' loading='lazy' alt='img')
					span.btn-play
		
		//TEXT BLOCK
		.white-card.transform-card
			.transform-card-content.medi-18
				p ООО «Строительное управление — 7» предлагает заказчикам в Саратове и Саратовской области предлагаем услуги по благоустройству и асфальтированию. Также предоставляем аренду спецтехники с опытным персоналом.
				p Компетентные специалисты составят смету, в которой будут указаны все затраты на закупку стройматериалов, оплату рабочего времени персонала, иные расходы.
				p Под каждый заказ готовится план-проект, условия которого оговариваются с клиентом.
				p Гарантируем минимальные сроки выполнения задач, соблюдение строительных норм и правил, использование экологически чистых материалов.
				p Выгодные расценки.
				p Предлагается большой перечень услуг, включающий асфальтирование, укладку тротуарной плитки, изготовление ворот, заборов, навесов, быстровозводимых сооружений различного назначения. Проведём озеленение территории, участка. У нас вы можете арендовать бульдозер для подготовки территории под строительство и иных задач.
				p Также осуществляются бетонные работы, от заливки полов, до возведения монолитных стен, перекрытий, изготовления и монтажа лестниц и пандусов.
				p Клиентам гарантируется высокое качество исполнения, соблюдение всех условий договора. Мы будем рады различным формам сотрудничества с предприятиями и организациями региона, физическими и юридическими лицами. Оформляются все необходимые документы, разрешения контролирующих организаций.
				p Чтобы оформить заявку, свяжитесь с нашим представителем по телефону +7 927 133-43-44 или напишите на электронную почту. Будем рады ответить на все вопросы.

			button.transform-card-btn.icon-text
				span.is-open-hide Развернуть
				span.is-open-show Свернуть
				svg.svg-carret-down
					use(href='./img/sprite.svg#svg-carret-down')

