//OUR SERVICES
section.services
	.container.gap-40
		.header-block
			h2.h2 Наши услуги
		
		.services-content.two-columns
			//LEFT
			.services-column.rows-gap-30
				.services-img
					picture
						source(srcset="./img/serv-w375.webp 1x, ./img/serv-w375@2x.webp 2x"  media="(max-width: 767px)")
						img.bor-radius(src='./img/serv.webp', srcset='./img/serv@2x.webp 2x' width='733' height='495' loading='lazy' alt='img')

				.grey-card
					span.round-icon
						svg.svg-sertif
							use(href='./img/sprite.svg#svg-sertif')
					p.medi-14.txt-dark Работаем с юридическими лицами, физическими лицами и СНТ.Наличный и безналичный расчёт с НДС.
			//white CARD
			.white-card-list.white-card
				.bold-20 Малые и большие объемы!
				ul.medi-18.txt-dark.rows-gap-30
					li.icon-text
						svg.svg-edit
							use(href='./img/sprite.svg#svg-edit')
						span Асфальтирование парковок и тротуаров
					li.icon-text
						svg.svg-edit
							use(href='./img/sprite.svg#svg-edit')
						span Отмостки МКД и частных домов
					li.icon-text
						svg.svg-edit
							use(href='./img/sprite.svg#svg-edit')
						span Дороги и проезды
					li.icon-text
						svg.svg-edit
							use(href='./img/sprite.svg#svg-edit')
						span Территории заводов и предприятий
					li.icon-text
						svg.svg-edit
							use(href='./img/sprite.svg#svg-edit')
						span Асфальтирование ангаров и складов
					li.icon-text
						svg.svg-edit
							use(href='./img/sprite.svg#svg-edit')
						span Асфальтирование для СНТ и частного сектора
					li.icon-text
						svg.svg-edit
							use(href='./img/sprite.svg#svg-edit')
						span Парки и скверы
					
					li.icon-text
						svg.svg-edit
							use(href='./img/sprite.svg#svg-edit')
						span Ремонт асфальтового покрытия
					li.icon-text
						svg.svg-edit
							use(href='./img/sprite.svg#svg-edit')
						span Придомовые территории и место для авто