//PRICE
section.prices
	.container.container-narrow.gap-40
		.header-block.txt-center
			h2.h2 Цены за 1 м2
		.faq-acordion.acordion-wrapper(data-mode='single')
			// single item 
			.acordion-item.acordion-item--active
				.acordion-button
					.acordion-item__title.bold-18 Исследования (Бесплатно)
					.acordion-item__icon
						svg.svg-carret-down
							use(href='./img/sprite.svg#svg-carret-down')
				.acordion-body
					.acordion-body__content
						ul.strip-list
							li.strip-list-item
								p.bold-16 Выемка грунта под проектные отметки с последующим вывозом на утилизацию
								p.medi-16 0 ₽/м³
						
			// single item 
			.acordion-item
				.acordion-button
					.acordion-item__title.bold-18 Подготовительные работы
					.acordion-item__icon
						svg.svg-carret-down
							use(href='./img/sprite.svg#svg-carret-down')
				.acordion-body
					.acordion-body__content
						ul.strip-list
							li.strip-list-item
								p.bold-16 Выемка грунта под проектные отметки с последующим вывозом на утилизацию
								p.medi-16 от 450 ₽/м³
							li.strip-list-item
								p.bold-16 Устройство основания 10 см из среднезернистого карьерного песка
								p.medi-16 от 120 ₽/м²
							li.strip-list-item
								p.bold-16 Укаладка геотекстиля Дорнит М-300
								p.medi-16 от 60 ₽/м²
							li.strip-list-item
								p.bold-16 Устройство основания 10 см из известнякового щебня ф-20/40 М-600
								p.medi-16 от 190 ₽/м²
			// single item 
			.acordion-item
				.acordion-button
					.acordion-item__title.bold-18 Асфальтирование
					.acordion-item__icon
						svg.svg-carret-down
							use(href='./img/sprite.svg#svg-carret-down')
				.acordion-body
					.acordion-body__content
						ul.strip-list
							li.strip-list-item
								p.bold-16 Выемка грунта под проектные отметки с последующим вывозом на утилизацию
								p.medi-16 от 450 ₽/м³
							li.strip-list-item
								p.bold-16 Устройство основания 10 см из среднезернистого карьерного песка
								p.medi-16 от 120 ₽/м²
			// single item 
			.acordion-item
				.acordion-button
					.acordion-item__title.bold-18 Бетонные работы
					.acordion-item__icon
						svg.svg-carret-down
							use(href='./img/sprite.svg#svg-carret-down')
				.acordion-body
					.acordion-body__content
						ul.strip-list
							li.strip-list-item
								p.bold-16 Выемка грунта под проектные отметки с последующим вывозом на утилизацию
								p.medi-16 от 450 ₽/м³
							li.strip-list-item
								p.bold-16 Устройство основания 10 см из среднезернистого карьерного песка
								p.medi-16 от 120 ₽/м²
			// single item 
			.acordion-item
				.acordion-button
					.acordion-item__title.bold-18 Аренда техники
					.acordion-item__icon
						svg.svg-carret-down
							use(href='./img/sprite.svg#svg-carret-down')
				.acordion-body
					.acordion-body__content
						ul.strip-list
							li.strip-list-item
								p.bold-16 Выемка грунта под&nbsp;проектные отметки с&nbsp;последующим вывозом на&nbsp;утилизацию
								p.medi-16 от 450 ₽/м³
							li.strip-list-item
								p.bold-16 Устройство основания 10&nbsp;см&nbsp;из&nbsp;сред&shy;незер&shy;нистого карьерного песка
								p.medi-16 от 120 ₽/м²
