//REVIEW
section.review.has-swiper.gap-40
	.container
		.header-block
			h2.h2 Отзывы клиентов
			.swiper-navigation
				button.swiper-button-prev.review-partners-prev
				button.swiper-button-next.review-partners-next
				
	.special-wrapper-desktop
		.review-partners.swiper
			.swiper-wrapper
				.swiper-slide
					.review-card
						img(src='./img/1.webp', srcset='./img/1@2x.webp 2x' width='352' height='442' loading='lazy' alt='img')
				.swiper-slide
					.review-card
						img(src='./img/2.webp', srcset='./img/2@2x.webp 2x' width='352' height='442' loading='lazy' alt='img')
				.swiper-slide
					.review-card
						img(src='./img/3.webp', srcset='./img/3@2x.webp 2x' width='352' height='442' loading='lazy' alt='img')
				.swiper-slide
					.review-card
						img(src='./img/4.webp', srcset='./img/4@2x.webp 2x' width='352' height='442' loading='lazy' alt='img')
				.swiper-slide
					.review-card
						img(src='./img/5.webp', srcset='./img/5@2x.webp 2x' width='352' height='442' loading='lazy' alt='img')
				.swiper-slide
					.review-card
						img(src='./img/1.webp', srcset='./img/1@2x.webp 2x' width='352' height='442' loading='lazy' alt='img')
				.swiper-slide
					.review-card
						img(src='./img/1.webp', srcset='./img/1@2x.webp 2x' width='352' height='442' loading='lazy' alt='img')
				.swiper-slide
					.review-card
						img(src='./img/2.webp', srcset='./img/2@2x.webp 2x' width='352' height='442' loading='lazy' alt='img')
							
			.swiper-pagination

