//SERVICES
section.services
	.container.gap-40
		.header-block
			h2.h2 Наши услуги
		.services-info.white-card
			.services-info-text.rows-gap-20
				p.bold-24 Оказание широкого спектра услуг в&nbsp;сфере асфальтирования и&nbsp;благоустройства. Профессионализм и&nbsp;ответственность ключевые преимущества нашей компании.
				p.medi-16 Чтобы оформить заявку, свяжитесь с&nbsp;нашим представителем по&nbsp;телефону #[span.no-wrap +7 927 133-43-44] или напишите на&nbsp;электронную почту. Будем рады ответить на все вопросы. 
			
			.services-info-btn
				button.btn-primary
					span Заказать звонок
					svg.svg-phone
						use(href='./img/sprite.svg#svg-phone')

		.services-cards.two-columns
			//CARD
			.service-card.white-card
				.service-card__img
					img(src='./img/service1.webp', srcset='./img/service1@2x.webp 2x' width='360' height='400' loading='lazy' alt='img')
				.service-card__text.rows-gap-20
					.bold-20 Аренда спецтехники
					ul.medi-16
						li Аренда Мини-погрузчика
						li Аренда Катка
						li Услуги эвакуатора
			//CARD
			.service-card.white-card
				.service-card__img
					img(src='./img/service2.webp', srcset='./img/service2@2x.webp 2x' width='360' height='400' loading='lazy' alt='img')
				.service-card__text.rows-gap-20
					.bold-20 Услуги по&nbsp;благоустройству
					ul.medi-16
						li Асфальтирование
						li Установка бордюров 
						li Монтаж дорожных знаков 
						li Ямочный ремонт
		
		//TEXT BLOCK
		.white-card.transform-card
			.transform-card-content.medi-18
				p ООО «Строительное управление — 7» предлагает заказчикам в Саратове и Саратовской области предлагаем услуги по благоустройству и асфальтированию. Также предоставляем аренду спецтехники с опытным персоналом.
				p Компетентные специалисты составят смету, в которой будут указаны все затраты на закупку стройматериалов, оплату рабочего времени персонала, иные расходы.
				p Под каждый заказ готовится план-проект, условия которого оговариваются с клиентом.
				p Гарантируем минимальные сроки выполнения задач, соблюдение строительных норм и правил, использование экологически чистых материалов.
				p Выгодные расценки.
				p Предлагается большой перечень услуг, включающий асфальтирование, укладку тротуарной плитки, изготовление ворот, заборов, навесов, быстровозводимых сооружений различного назначения. Проведём озеленение территории, участка. У нас вы можете арендовать бульдозер для подготовки территории под строительство и иных задач.
				p Также осуществляются бетонные работы, от заливки полов, до возведения монолитных стен, перекрытий, изготовления и монтажа лестниц и пандусов.
				p Клиентам гарантируется высокое качество исполнения, соблюдение всех условий договора. Мы будем рады различным формам сотрудничества с предприятиями и организациями региона, физическими и юридическими лицами. Оформляются все необходимые документы, разрешения контролирующих организаций.
				p Чтобы оформить заявку, свяжитесь с нашим представителем по телефону +7 927 133-43-44 или напишите на электронную почту. Будем рады ответить на все вопросы.

			button.transform-card-btn.icon-text
				span.is-open-hide Развернуть
				span.is-open-show Свернуть
				svg.svg-carret-down
					use(href='./img/sprite.svg#svg-carret-down')