//single service content
section.single-service
	.container
		ul.breadcrumbs
			li.breadcrumb-item
				a(href="") Главная
			li.breadcrumb-item
				a(href="") Благоустройство
			li.breadcrumb-item
				a(href="") Услуги по благоустройству
			li.breadcrumb-item
				span Асфальтирование
		
		.sidebar-grid
			//SIDEBAR
			.sidebar-column
				//MENU
				ul.menu-submenu.js-drop.sidebar-menu(data-mode='single')
					li.submenu-item.js-drop-item.js-drop-item-active
						span.submenu-link.js-drop-button Услуги по благоустройству
							svg.svg-carret-down
								use(href='./img/sprite.svg#svg-carret-down')
						.js-drop-body
							ul.menu-sub-submenu.js-drop-content
								li.sub-submenu-item
									a(href='#!') Асвальтирование
								li.sub-submenu-item
									a(href='#!') Укладка тротуарной плитки
								li.sub-submenu-item
									a(href='#!') Озеленение
					li.submenu-item.js-drop-item
						span.submenu-link.js-drop-button Аренда спецтехники
							svg.svg-carret-down
								use(href='./img/sprite.svg#svg-carret-down')
						.js-drop-body
							ul.menu-sub-submenu.js-drop-content
								li.sub-submenu-item
									a(href='#!') Асвальтирование
								li.sub-submenu-item
									a(href='#!') Укладка тротуарной плитки
								li.sub-submenu-item
									a(href='#!') Озеленение
					
					li.submenu-item.js-drop-item
						span.submenu-link.js-drop-button Бетонные полы
							svg.svg-carret-down
								use(href='./img/sprite.svg#svg-carret-down')
						.js-drop-body
							ul.menu-sub-submenu.js-drop-content
								li.sub-submenu-item
									a(href='#!') Асвальтирование
								li.sub-submenu-item
									a(href='#!') Укладка тротуарной плитки
								li.sub-submenu-item
									a(href='#!') Озеленение
					
				//FORM
				.form-wrapper.form-wrapper-transparent
					.bold-16 Оформить заявку
					form.feedback-form
						.form-item
							input.form-inp.txt-overflow(type="text" value="Работы по асфальтированию в Саратове и Саратовской области")
						.form-item
							input.form-inp(type="text" placeholder="Имя" required)
						.form-item
							input.form-inp(type="text" placeholder="Телефон" required)
						.form-item
							textarea.form-text(placeholder="Задайте вопрос")
						
						label.form-agree
							.custom-label
								input(type="checkbox" name="agree_input")
								span.fake-checkbox
							
							span.medi-14 Согласен (на) на #[a.link-underline(href="#") обработку персональных данных]
						button.btn-primary.w-100(type="button")
							span Отправить
							svg.svg-email
								use(href='./img/sprite.svg#svg-email')
			//RIGHT CONTENT
			.content-column
				.single-service-description.rows-gap-20
					h1.h5 Работы по&nbsp;асфальтированию в&nbsp;Саратове и&nbsp;Саратовской области
					.fotorama-wrapper
						.single-service.swiper.swiper-display
							.swiper-wrapper
								.swiper-slide
									picture
										source(srcset="./img/fotorama-w375.webp 1x, ./img/fotorama-w375@2x.webp 2x"  media="(max-width: 767px)")
										img(src='./img/fotorama.webp', srcset='./img/fotorama@2x.webp 2x' width='1114' height='630' loading='lazy' alt='img')
								.swiper-slide
									picture
										source(srcset="./img/fotorama-w375.webp 1x, ./img/fotorama-w375@2x.webp 2x"  media="(max-width: 767px)")
										img(src='./img/fotorama.webp', srcset='./img/fotorama@2x.webp 2x' width='1114' height='630' loading='lazy' alt='img')
								.swiper-slide
									picture
										source(srcset="./img/fotorama-w375.webp 1x, ./img/fotorama-w375@2x.webp 2x"  media="(max-width: 767px)")
										img(src='./img/fotorama.webp', srcset='./img/fotorama@2x.webp 2x' width='1114' height='630' loading='lazy' alt='img')
								.swiper-slide
									picture
										source(srcset="./img/fotorama-w375.webp 1x, ./img/fotorama-w375@2x.webp 2x"  media="(max-width: 767px)")
										img(src='./img/fotorama.webp', srcset='./img/fotorama@2x.webp 2x' width='1114' height='630' loading='lazy' alt='img')
								.swiper-slide
									picture
										source(srcset="./img/fotorama-w375.webp 1x, ./img/fotorama-w375@2x.webp 2x"  media="(max-width: 767px)")
										img(src='./img/fotorama.webp', srcset='./img/fotorama@2x.webp 2x' width='1114' height='630' loading='lazy' alt='img')
								
							
							.swiper-button-next.swiper-display-next
							.swiper-button-prev.swiper-display-prev
						
						.swiper.swiper-thumbnail(thumbsslider)
							.swiper-wrapper
								.swiper-slide
									picture
										source(srcset="./img/fotorama-thumb-w375.webp 1x, ./img/fotorama-thumb-w375@2x.webp 2x"  media="(max-width: 767px)")
										img(src='./img/fotorama-thumb.webp', srcset='./img/fotorama-thumb@2x.webp 2x' width='141' height='141' loading='lazy' alt='img')
								.swiper-slide
									picture
										source(srcset="./img/fotorama-thumb-w375.webp 1x, ./img/fotorama-thumb-w375@2x.webp 2x"  media="(max-width: 767px)")
										img(src='./img/fotorama-thumb.webp', srcset='./img/fotorama-thumb@2x.webp 2x' width='141' height='141' loading='lazy' alt='img')
								.swiper-slide
									picture
										source(srcset="./img/fotorama-thumb-w375.webp 1x, ./img/fotorama-thumb-w375@2x.webp 2x"  media="(max-width: 767px)")
										img(src='./img/fotorama-thumb.webp', srcset='./img/fotorama-thumb@2x.webp 2x' width='141' height='141' loading='lazy' alt='img')
								.swiper-slide
									picture
										source(srcset="./img/fotorama-thumb-w375.webp 1x, ./img/fotorama-thumb-w375@2x.webp 2x"  media="(max-width: 767px)")
										img(src='./img/fotorama-thumb.webp', srcset='./img/fotorama-thumb@2x.webp 2x' width='141' height='141' loading='lazy' alt='img')
								.swiper-slide
									picture
										source(srcset="./img/fotorama-thumb-w375.webp 1x, ./img/fotorama-thumb-w375@2x.webp 2x"  media="(max-width: 767px)")
										img(src='./img/fotorama-thumb.webp', srcset='./img/fotorama-thumb@2x.webp 2x' width='141' height='141' loading='lazy' alt='img')

					//transform-card
					.custom-text.rows-gap-20.medi-18
						p Бригада рабочих быстро и качественно выполнит работы по асфальтированию дорог, подъездов к участкам, дворов, территорий различной площади. Гарантировано соблюдение технологии и строительных норм, качество сырья.
						p Часто работы по укладке асфальта проводят с нарушениями. В результате, через несколько месяцев на поверхности такого покрытия появляются трещины, оно деформируется. Также не учитывается реальная нагрузка, зависящая от ряда факторов:
						ul.font-18
							li Тип грунта;
							li Глубина залегания подземных вод;
							li Использование автотранспорта, в том числе – грузового;
							li Погодные и климатические условия.
						
						
					.transform-card.transform-card-hide
						.transform-card-content.rows-gap-20.custom-text.font-18
							p Бригада рабочих быстро и качественно выполнит работы по асфальтированию дорог, подъездов к участкам, дворов, территорий различной площади. Гарантировано соблюдение технологии и строительных норм, качество сырья.
							p Часто работы по укладке асфальта проводят с нарушениями. В результате, через несколько месяцев на поверхности такого покрытия появляются трещины, оно деформируется. Также не учитывается реальная нагрузка, зависящая от ряда факторов:
							
							ul
								li Тип грунта;
								li Глубина залегания подземных вод;
								li Использование автотранспорта, в том числе – грузового;
								li Погодные и климатические условия.
						button.transform-card-btn.icon-text
							span.is-open-hide Развернуть
							span.is-open-show Свернуть
							svg.svg-carret-down
								use(href='./img/sprite.svg#svg-carret-down')