//single service content
section.single-service
	.container
		ul.breadcrumbs
			li.breadcrumb-item
				a(href="") Главная
			li.breadcrumb-item
				a(href="") Благоустройство
			li.breadcrumb-item
				a(href="") Услуги по благоустройству
			li.breadcrumb-item
				span Асфальтирование
