//VIDEO SLIDER
section.video-gallery
	.container.gap-40
		.header-block
			h2.h2 Видео с объектов
			.swiper-navigation
				button.swiper-button-prev.video-prev
				button.swiper-button-next.video-next
		
		.special-wrapper-mobile
			.video-swiper.swiper
				.swiper-wrapper
					.swiper-slide
						a(href="https://www.youtube.com/watch?v=PUdyuKaGQd4" data-fancybox="video-gallery").video-slide
							span.btn-play
							picture
								img(src='./img/poster.webp', srcset='./img/poster@2x.webp 2x' width='351' height='480' loading='lazy' alt='img')
					.swiper-slide
						a(href="https://www.youtube.com/watch?v=PUdyuKaGQd4" data-fancybox="video-gallery").video-slide
							span.btn-play
							picture
								img(src='./img/poster1.webp', srcset='./img/poster1@2x.webp 2x' width='351' height='480' loading='lazy' alt='img')
					.swiper-slide
						a(href="https://www.youtube.com/watch?v=PUdyuKaGQd4" data-fancybox="video-gallery").video-slide
							span.btn-play
							picture
								img(src='./img/poster2.webp', srcset='./img/poster2@2x.webp 2x' width='351' height='480' loading='lazy' alt='img')
					.swiper-slide
						a(href="https://www.youtube.com/watch?v=PUdyuKaGQd4" data-fancybox="video-gallery").video-slide
							span.btn-play
							picture
								img(src='./img/poster3.webp', srcset='./img/poster3@2x.webp 2x' width='351' height='480' loading='lazy' alt='img')
					.swiper-slide
						a(href="https://www.youtube.com/watch?v=PUdyuKaGQd4" data-fancybox="video-gallery").video-slide
							span.btn-play
							picture
								img(src='./img/poster.webp', srcset='./img/poster@2x.webp 2x' width='351' height='480' loading='lazy' alt='img')
					.swiper-slide
						a(href="https://www.youtube.com/watch?v=PUdyuKaGQd4" data-fancybox="video-gallery").video-slide
							span.btn-play
							picture
								img(src='./img/poster1.webp', srcset='./img/poster1@2x.webp 2x' width='351' height='480' loading='lazy' alt='img')