@use '_var' as *;
.btn-primary, .btn-outline, .btn-dark{
	display: flex;
	flex-shrink: 0;
	width: fit-content;
	align-items: center;
	justify-content: center;
	text-align: center;
	column-gap:remy(10);
	height: remy(52);
	border:0;
	white-space: nowrap;
	font-family: var(--font-family);
	color: var(--btn-primary-text);
	background: var(--btn-primary);
	font-weight: 500;
	font-size: remy(16);
	border-radius: remy(10);
	padding-inline: remy(26);
	transition: .3s;
	svg{color: var(--btn-primary-text);}
	&.disabled, &[disabled]{
		opacity: 0.4;
		cursor: default;
		pointer-events: none;
	}
}
.btn-primary:hover{
	background: var(--btn-primary-hover);
	svg.svg-right{transform: translateX(5px);}
}
.btn-outline{
	border: 1px solid var(--btn-primary);
    color: var(--btn-primary);
	background:transparent;
	svg{color: var(--btn-primary);}
	&:hover{
		color: var(--btn-primary-text);
		background: var(--btn-primary);
		svg{color: var(--btn-primary-text);}
	}
}
.w-100{
	width: 100%!important;
}
.btn-dark{
	background: var(--btn-dark);
	color: var(--btn-dark-text);
	svg{color: white}
	&:hover{
		background: var(--btn-dark-hover);
		svg{color: white}
	}
}
.circle-icon{
	width: remy(68);
	height: remy(68);
	border-radius: 50%;
	background-color: var(--accent1);
	flex-shrink: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: remy(15);
}
.has-video{position: relative;cursor:pointer;}

.btn-play{
	display: block;
	width:remy(60);
	height: remy(60);
	border-radius: 50%;
	background-color: var(--accent1);
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='20' viewBox='0 0 17 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.3797 8.66756C17.0998 9.08333 17.0998 10.1227 16.3797 10.5385L1.62027 19.0599C0.90015 19.4756 0 18.9559 0 18.1244L0 1.08165C0 0.250127 0.90015 -0.269575 1.62027 0.146187L16.3797 8.66756Z' fill='white' /%3e%3c/svg%3e");
	background-size: remy(17);
	background-repeat: no-repeat;
	background-position: 55% center;
	transition: .3S;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	cursor:pointer;
	&:hover{background-color: var(--primary);}
}
.play-btn-group{
	background: rgba(0, 0, 0, 0.3);
	height: remy(60);
	padding-left: remy(70);
	padding-right: 20px;
	display: inline-flex;
	align-items:center;
	border-radius: remy(30);
	position: relative;
	text-align: left;
	transition: .3s;
	width: fit-content;
	span{
		color: white;
		font-size: remy(14);
		font-weight: 500;
		transition: .3s; 
	}
	.btn-play{
		top: 0;
		left: 0;
		z-index: 2;
		transform: unset;
	}
}
.play-btn-group:hover{
	background: rgba(0, 0, 0, 0.6);
	span{color: var(--secondary1)}
	.btn-play{background-color: var(--primary);}
}
.btn-remove{
	width: fit-content;
	svg{transition: .3s; }
	color: var(--accent2);
	&:hover{color: var(--secondary);}
	&:hover svg {color: var(--secondary);}
	@media (max-width: 767px) {
	svg{	
		width: remy(18);
		height: remy(18);
	}
	}
}