@use '_var' as *;
.form-item{
	position: relative;
	width: 100%;
	input.form-inp, textarea.form-text{
		display: block;
		width: 100%;
		border: 1px solid var(--secondary);
		border-radius: remy(10);
		padding: remy(4) remy(16);
		height: remy(52);
		font-weight: 500;
		font-size: remy(16);
		font-family: var(--font-family);
		color: var(--primary);
		&::placeholder{
			color: var(--secondary);
			font-family: var(--font-family);
		}
	}
	.medi-12{
		padding-left: remy(16);
		margin-top: remy(3);
	}
	input.form-inp, textarea.form-text{
		&:focus, &:valid{
			border: 1px solid var(--primary);
		}
	}
	textarea.form-text{
		height: remy(100);
		padding: remy(11) remy(16);
	}
}
.form-item.form-item-invalid{
	input.form-inp, textarea.form-text{border: 1px solid var(--error);}
	.medi-12{color: var(--error);}
}
.form-wrapper{
	width: 100%;
	max-width: remy(479);
	form{
		display: flex;
		flex-direction: column;
		gap: remy(10);
	}
}
.form-agree{
	display: flex;
	column-gap:remy(10);
	color: var(--secondary);
	.link-underline{
		color: var(--accent1);
		&:hover{color: var(--secondary);}
	}
}