@use '_var' as *;
/*==== SVG SPRITE===*/
svg{display: inline-block; transition: .3s;flex-shrink:0 }
.svg-right{
	width: remy(22);
	height: remy(22);
	color: white;
}
.svg-email, .svg-phone{
	width: remy(22);
	height: remy(22);
	color: white;
}
.svg-round-check,.svg-pin{
	width: remy(20);
	height: remy(20);
	color: white;
}
.svg-carret-down{
	width: remy(18);
	height: remy(18);
	color: var(--accent2);
}
.svg-share{
	width: remy(42);
	height: remy(42);
	color: var(--white);
}
.svg-carret-left,
.svg-carret-right{
	width: remy(20);
	height: remy(20);
	color: var(--primary1);
}
.svg-star{
	width: remy(30);
	height: remy(27);
	color: #F9C758;
}
.rating-stars{
	display: inline-flex;
	flex-shrink: 0;
	width: remy(100);
	height: remy(20);
	background-image: url('../img/stars.webp');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.svg-search, .svg-book{
	width: remy(22);
	height: remy(22);
	color:  var(--primary1);
}
.svg-whatsapp,
.svg-telegram,
.svg-max,
.svg-vk{
	width: remy(24);
	height: remy(24);
	color:  var(--primary1);
}
.svg-clock{
	width: remy(14);
	height: remy(14);
	color: var(--header-text-color);
}