@use '_var' as *;

.title{
	font-size: remy(60);
	line-height: 1.1;
}
.h1{font-size: remy(50);}
.h2{font-size: remy(46);}
.h3{font-size: remy(40);line-height: 1.3;}
.h4{font-size: remy(32);line-height: 1.3;}
.h5{font-size: remy(28);line-height: 1.3;}
.h1,.h2, .h3, .h4, .h5, .title{
	font-family: var(--font-family);
	font-weight: 700;
	line-height: 1.2;
}
.font-28,.medi-28, .bold-28 {font-size: remy(28);font-weight: 400;line-height: 1.3;}
.font-24,.medi-24, .bold-24 {font-size: remy(24);font-weight: 400;line-height: 1.3;}
.font-20,.medi-20, .bold-20 {font-size: remy(20);font-weight: 400;line-height: 1.4;}
.font-18,.medi-18, .bold-18 {font-size: remy(18);font-weight: 400;line-height: 1.4;}
.font-16,.medi-16, .bold-16 {font-size: remy(16);font-weight: 400;line-height: 1.4;}
.font-14,.medi-14, .bold-14 {font-size: remy(14);font-weight: 400;line-height: 1.4;}
.medi-12, .font-12{font-size: remy(12);font-weight: 400;line-height: 1.4;color: var(--secondary1);}
.medi-12, .medi-14, .medi-16,.medi-18, .medi-20, .medi-24,.medi-28{font-weight: 500;}
.bold-14, .bold-16,.bold-18, .bold-20, .bold-24,.bold-28{font-weight: 700;}

.pblock-140{
	padding-block: remy(140);
	@media (max-width: 1439px) {
	  padding-block: remy(100);
	}
	@media (max-width: 767px) {
	 padding-block: remy(80);
	}
}
.pblock-120{
	padding-block: remy(120);
	@media (max-width: 1439px) {
	  padding-block: remy(80);
	}
	@media (max-width: 767px) {
	 padding-block: remy(20);
	}
}

.header-block{
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: remy(20);
}
.header-block.txt-center{justify-content: center;}
.visible-desktop{
	display: block;
	@media (max-width:767px) {
	display: none;
	}
}
.hide-desktop{
	display: none;
	@media (max-width:767px) {
	display: block;
	}
}
.bor-radius{
	border-radius: remy(12);
}
.d-flex, .flex-col,.flex-col-40{
	display: flex;
	column-gap: remy(40);
	@media (max-width: 767px) {
	  flex-direction: column;
	  row-gap:remy(20);
	}
}
.flex-center-y{align-items: center}
.flex-col, .flex-col-40{
	flex-direction: column;
	row-gap: remy(10);
}
.flex-col-40{
	row-gap: remy(40);
	&>*{width: 100%;}
}
.icon-text{
	display: flex;
	width: fit-content;
	align-items: center;
	column-gap:remy(6);
}

.two-columns,
.three-columns,
.four-columns{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: remy(30);
	@media (max-width: 1199px) {
	 grid-template-columns: 1fr 1fr;
	}
	@media (max-width: 767px) {
	  grid-template-columns: 1fr;
	  gap: remy(20);
	}
}
.grid-12{
	display: grid;
	grid-template-columns:1fr 2fr;
	gap: remy(30);
	@media (max-width: 767px) {
	  grid-template-columns: 1fr;
	  gap: remy(20)
	}

}
.three-columns{
	grid-template-columns: repeat(3, 1fr);
}
.two-columns{
	grid-template-columns: repeat(2, 1fr);
}
.gap-40{gap: remy(40);}
.gap-10,.rows-gap-10,.gap-20,
.rows-gap-20, .rows-gap-30,.gap-30, .gap-60{
	display: flex;
	flex-direction: column;
	row-gap: remy(10);
}
.gap-10{
	gap:remy(10)!important;
}
.rows-gap-20,.gap-20{
	row-gap: remy(20);
}
.rows-gap-20{
	@media (max-width: 767px) {
	  row-gap: remy(10);
	}
}
.gap-30{
 row-gap: remy(30);
 @media (max-width: 767px) {
 row-gap: remy(20);
 }
}
.rows-gap-30{
	row-gap: remy(30);
	@media (max-width: 1439px) {
	row-gap: remy(20);
	}
	@media (max-width: 767px) {
	row-gap: remy(10);
	}
}
.gap-60{
	row-gap: remy(60);
	@media (max-width: 767px) {
	row-gap: remy(40);
	}
}
.no-wrap {white-space: nowrap;}
.txt-center{text-align: center;}
.txt-accent{color: var(--accent2)}
.txt-muted{color: var(--secondary);}
.txt-second, .link-second{color: var(--secondary1);}
.link-second:hover{color: var(--white);}
.link-underline{
	display: inline;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	transition: .3s; 
}
.primary-link, .white-link{
	transition: .3s;
	color: var(--primary);
	&:hover{
		color: var(--accent1);
	}
}
.white-link{
	color: var(--white);
	&:hover{
		color: var(--secondary1);
	}
}
.links-list{
	display: flex;
	flex-direction: column;
	row-gap: remy(4);
	a{
		width: fit-content;
		padding-block: remy(3);
	}
}
.list-box{
	display: flex;
	flex-direction: column;
	row-gap: remy(40);
	&>*{width: 100%;}
}
.h-white{color: var(--title-white);}

.columns-text{
	display: grid;
	grid-template-columns: 1fr remy(479);
	
   &>*:first-child{
		max-width: remy(860);
   }
   @media (max-width: 1023px) {
     grid-template-columns: 1fr;
   }
}
@media (max-width: 1364px) {
  .h1,.h2{font-size: remy(40);}
  .h5{font-size: remy(24);}
}
@media (max-width: 1199px) {
   .h1,.h2{font-size: remy(38);}
}
@media (max-width: 1023px) {
.h1,.h2{font-size: remy(34);}
.h5{font-size: remy(20);}
}
@media (max-width: 767px) {
	.h1,.h2{font-size: remy(32);}
	.header-block{flex-direction: column; align-items: flex-start;}
	.gap-40{gap: remy(20);}
	.bold-24{font-size: remy(18);}
}
.white-card, .grey-card{
	background-color: var(--white-bg);
	border-radius: remy(12);
}
.white-card-list{
	padding: remy(60);
	display: flex;
	flex-direction: column;
	gap: remy(40);
	&>*{width: 100%;}
	@media (max-width: 1439px) {
	  padding: remy(40);
	  gap: remy(30);
	}
	@media (max-width: 1364px) {
	 padding: remy(30);
	 gap: remy(40);
	}
	@media (max-width: 1279px) {
	 padding: remy(20);
	 gap: remy(20);
	}
}
.grey-card{
	background-color:#e2e6e8;
	padding: remy(30);
	display: flex;
	align-items: center;
	gap: remy(30);
	svg, img{
		flex-shrink: 0;
	}
	@media (max-width: 1199px) {
	   gap: remy(20);
	}
	@media (max-width: 1023px) {
	padding: remy(20);
	 gap: remy(10);
	}
}
.primary-bg,.primary-section{
	background-color: var(--primary);
}
.primary-section, .accent-section{
	border-radius: remy(12);
	padding-inline: calc((100% - remy(1240)) / 2);
	.h2{color: var(--white);}
	@media (max-width: 1439px) {
	 padding-inline:remy(40);
	}
	@media (max-width: 1279px) {
	 padding-inline:remy(20);
	}
	
}
.primary-section{
	@media (max-width: 767px) {
	  border-radius: 0;
	}
}
.has-primary-section{
	@media (max-width: 767px) {
	 .container{padding: 0;}
	 .primary-section{ padding-inline:remy(20);}
	}
}
.accent-section, .accent-bg{background: var(--accent1);.h2{color: var(--white);}}
.custom-text{
	h1,h2,h3,h4,h5,h6{
		font-size: remy(18);
		line-height: 1.4;
		color: var(--primary);
		font-weight: 700;
		margin-bottom: remy(-10);
	}
	p{
		font-size: remy(18);
		line-height: 1.4;
	}
	ul, ol{
		list-style-type: square;
		margin: 0;
		padding: 0;
		margin-left: remy(20);
		li::marker{
			color: var(--accent1);
			line-height: 1;
		li{
			h1,h2,h3,h4,h5,h6{margin-bottom: remy(10);}
			padding-left: remy(5);
		}
		li+li{margin-top: remy(4);}
	}
	
	ol{
		list-style-type: decimal;
		li::marker{
			color: var(--primary);
			font-weight: 700;
		}
	}
}
.label{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: remy(38);
	border-radius: remy(10);
	background-color: var(--white);
	font-weight: 500;
	font-size: remy(16);
	color: var(--accent1);
	padding-inline: remy(16);
	@media (max-width: 1023px) {
	  border-radius: remy(6);
	  height: remy(25);
	  font-size: remy(12);
	  padding-inline: remy(8);
	}
}