extends ../layouts/layout.pug

block content
	.page-content
		include ../sections/_header.pug
		main.main-page
			include ../sections/_hero-main.pug
			include ../sections/_benefits-main.pug
			include ../sections/_services.pug
			include ../sections/_consultation-form.pug
			include ../sections/_portfolio.pug
			include ../sections/_review-documents.pug
			include ../sections/_review-partners.pug
			include ../sections/_our-team.pug
					
		include ../sections/_footer.pug
			
block variables
	-var title = "Home";
