extends ../layouts/layout.pug

block content
	.page-content
		//- include ../sections/_header.pug
		main.main-page
			include section-benefits.pug
			include section-services.pug
			include consultation.pug
			include portfolio.pug
			include review-documents.pug
			include review-partners.pug
			include our-team.pug
					
		include ../sections/_footer.pug
			
block variables
	-var title = "Project";
