extends ../layouts/layout.pug

block content
	.page-content
		include ../sections/_header.pug
		main.inner-page
			include ../sections/_single-object.pug
			
		include ../sections/_footer.pug
			
block variables
	-var title = "Один проект";
