extends ../layouts/layout.pug

block content
	.page-content
		include ../sections/_header.pug
		main.inner-page
			include ../sections/_single-service.pug
			
			
					
		include ../sections/_footer.pug
			
block variables
	-var title = "Одна услуга";