extends ../layouts/layout.pug

block content
	h2 Класс .grid-12 - создает сетку 479px  и 1fr
	section.work-area
		.container.gap-40
			.work-area-content.grid-12
				.work-area-col
					h2.h2.visible-desktop Работаем в&nbsp;Саратове и&nbsp;СО
					ul.work-area-list.medi-20
						li
							a.text-link(href="#!") Саратов
						li
							a.text-link(href="#!") Энгельс
						li
							a.text-link(href="#!") Балаково
						li
							a.text-link(href="#!") Балашов
						li
							a.text-link(href="#!") Вольск
						li
							a.text-link(href="#!") Пугачёв
						li
							a.text-link(href="#!") Ртищево
						li
							a.text-link(href="#!") Петровск
						li
							a.text-link(href="#!") Маркс
						li
							a.text-link(href="#!") Аткарск
						li
							a.text-link(href="#!") Красноармейск
						li
							a.text-link(href="#!") Ершов
					button.btn-primary
						span Посмотреть все города
						svg.svg-right
							use(href='./img/sprite.svg#svg-right')
				.work-area-map
					h2.h2.hide-desktop Работаем в&nbsp;Саратове и&nbsp;СО
					img(src='./img/map.webp'  width='987' height='549' loading='lazy' alt='img')
block variables
	-var title = "Показатели компании";